/* * {
	border: 1px solid black;
}
*/
body {
	margin: 0px;
}
#wrapper {
	
	background-color: #fafafa;
	width: auto;
}
#wrapper2 {
	 
	background-color: #fafafa;
	width: auto;
	border-bottom: 0px;

}
#wrapper3 {
	margin-top: -10px; 
	background-color: #fafafa;
	width: auto;
	height: 100px;

}

#header {
	
	background-color: #fafafa;
	overflow: hidden;

	
}
#google-logo {
	height: 44px;
	width: 120px;
	float: left;
	margin: 20px 0px 20px 15px;
	
}

.search {
	background-color: white;
	display: inline-block;
	height: 44px;
	margin: 17px 15px 15px 15px;
	border: 1px solid lightgray;
	box-shadow: 1px 1px 1px lightgray;
	width: 635px;
	position: relative;
	overflow: hidden;
	
}

.search:hover {
	box-shadow: 2px 2px 5px lightgray;
} 

#userinput {
	height: 34px;
	width: 535px;
	margin-bottom: 30px;
	border: none;
	padding: 0px;
	position: static;
	vertical-align: middle;
	text-indent: 15px;
	font-style: Arial, sans-serif;
	font-size: 1em;
	}

#userinput:focus {
	outline: none;
}

#button {
	height: 20px;
	margin: 10px;
	background: transparent;
	
}

#button2 {
	height: 20px;
	margin: 10px;
	background: transparent;
	
}

.user-profile {
	float: right;
	list-style: none;
	display: inline-block;
	
}

.profile {
	list-style: none;
	display: inline-block;
	
	
	
}

#u1 {
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background: #db4437;
	
	padding: 2px 1px 0px 1px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	line-height: 18px;
	font-size: 12px;
	color: white;
	text-align: center;
	vertical-align: middle;
}
#u:link {
		text-decoration: none;
		color: white;
	}	

#u:visited {
		text-decoration: none;
		color: white;
	}
#u:hover {
		text-decoration: none;
		color: white;
		background-color: grey;
}	

#n1 {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background: #db4437;
	background-size: 2px 2px;
	margin: 8px 30px 0 15px;
	padding: 4px 2px 0px 2px;
	font-family: Arial, sans-serif;
	font-size: 18px;
	line-height: 26px;
	color: white;
	text-align: center;
	position: relative;
	display: inline-block;
}

#n:link {
		text-decoration: none;
		color: white;
	}	

#n:visited {
		text-decoration: none;
		color: white;
	}
#n:hover {
		text-decoration: none;
		color: white;
	}	

#n1 span {
	text-align: center;
	vertical-align: middle;
	padding-top: 6px;
}

#menuwrap {
	background-color: #fafafa;
	padding: 9px;
	height: 30px; 
	margin-left: 150px;
	margin-right: 189px;
	

}
.left {
	background-color: #fafafa;

	float: left;
}

.links {
	display: inline-block;
	font-size: 13px;
	font-family: Arial, sans-serif;
	text-align: center;
	padding: 9px
	
}

#m:link {
		text-decoration: none;
		color: #666;
	}	
#m:hover {
		text-decoration: none;
		color: #222;
	}	

#m:visited {
		text-decoration: none;
		color: #666;
	}	


.right-links {
	display: inline-block;
	font-size: 13px;
	font-family: Arial, sans-serif;
	text-align: center;
	padding: 9px
}
.right {
	float: right;
}
.all {
		text-decoration: none;
		color: #4285f4;
		font-weight: bold;
		
}
.mall {
		text-decoration: none;
		color: #4285f4;
		font-weight: bold;
		border-bottom: 3px solid #4285f4;

}

#mall {
		text-decoration: none;
		color: #4285f4;
		font-weight: bold;
}

#mall:link {
		text-decoration: none;
		color: #4285f4;
	}	
#mall:hover {
		text-decoration: none;
		color: #4285f4;
	}	

#mall:visited {
		text-decoration: none;
		color: #4285f4;
	}	


.searchresults {
	font-family: Arial, sans-serif;
	font-size: 13px;
	margin-left: 160px;
	color: #666;
	line-height: 140%;
}
.pres{
	line-height: -2.0;
	margin-top: 0;
}
.result {
	display: block;
	color: #1e0fbe;
	font-size: 18px;
	margin-bottom: 0;
}

.result:link {
		text-decoration: none;
		color: #1e0fbe;
	}	
.result:hover {
		text-decoration: underline;
		color: #1e0fbe;
	}	
.result:visited {
		text-decoration: none;
		color: #609;
	}	
span {
	color: #006621;
}
#count {
	font-size: 12px;
}

#add {
	font-size: 18px;
	color: black;
}

.tab {
	font-weight: bold;
	padding: 40px 40px 40px 0;
	color: #1e0fbe;

}
.tab:link {
		text-decoration: none;
		color: #1e0fbe;
	}	
.tab:hover {
		text-decoration: underline;
		color: #1e0fbe;
	}	
.tab:visited {
		text-decoration: none;
		color: #609;
	}	

#google-next {
	margin: 0 0 -18px 130px;


}

#search-num{
	margin-left: 125px;
}

.searchnum {
	list-style: none;
	display: inline-block;
	text-decoration: none;
	padding-right: 8.7px;
}
#next {
	margin-left: 40px;
}



.search-num:link {
		text-decoration: none;
		
	}	
.search-num:hover {
		text-decoration: underline;
		
	}	
.search-num:visited {
		text-decoration: none;
		color: #609;
	}	
.footer {
	font-family: Arial, sans-serif;
	font-size: 13px;
	margin-left: 123px;
	margin-top: 30px;
	color: #666;
	padding-top: 40px;
}
.foot {
	list-style: none;
	display: inline-block;
	text-decoration: none;
	padding-right: 20px;

}

.ft:link {
		text-decoration: none;
		color: #666;
	}	
.ft:hover {
		text-decoration: none;
		color: #222;
	}	

.ft:visited {
		text-decoration: none;
		color: #666;
	}	